<div class="profile">

    <div class="container">
        <label class="lbl">Nome: </label>
        <p class="txt">{{name}}</p>
    </div>

    <div class="container">
        <label class="lbl">Cognome: </label>
        <p class="txt">{{surname}}</p>
    </div>

    <div class="container">
        <label class="lbl">Gender: </label>
        <p class="txt">{{sex}}</p>
    </div>

    <div class="container">
        <label class="lbl">Email: </label>
        <p class="txt">{{Email}}</p>
    </div>

    <div class="container">
        <label class="lbl">Telefono: </label>
        <p class="txt">{{phone}}</p>
    </div>

</div>