.n {
    display: grid;
    grid-template-columns: auto auto auto;
}

.box {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item1 {
    grid-area: image;
    align-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 17px;
    min-width: 50px;
    text-align: center;
}

.item2 {
    grid-area: input;
    width: 250px;
    height: 50px;
    background-color: transparent;
    color: white;
}

.input-container {
    display: grid;
    grid-template-areas: 'image input input input input input';
    //grid-gap: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}