@import '../../../assets/mixin/mixin.scss';


h6{
    color:gray;
    font-size: 100%;
    
}

a{
   color:white;
   font-size: 25px;
}

.social{
    @include grid-column(1);
    @include grid-row(2);
}

.copy{
    @include grid-column(2);
    @include grid-row(2);
    margin-top:10px;
   
}

.wrapper-social{
    @include display-grid((200px 1fr), (79px 1fr));
    margin-top:5px;
    margin-left:20px;
}