@import '../../../assets/mixin/mixin.scss';

h6{
    color:gray;
    font-size: 80%;
    margin-bottom:1px;
    margin-left:2px;
    @include grid-row(2);
}

.social{
    @include  grid-column(1);
    @include grid-row(2);
  
   
}

a{
   color:white;
   font-size:20px;
}



.Wrapper{
    @include display-grid((1fr,1fr), (100px 1fr));
}
