h6{
    color:gray;
    font-size: 58%;
    
}

.social{
    position: absolute;
    bottom:10px;
    left: 20px;
   
}

a{
   color:white;
}

.copy{
    position:absolute;
    bottom: 0;
    left: 100px;
}
