<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<div class="social">
 
  
    <a class="social-icon mr-1" data-tooltip="Twitter" href="http://www.twitter.com">
      <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
  
    <a class="social-icon mr-1" data-too ltip="Facebook" href="https://www.facebook.com">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
  
   
    <a class="social-icon mr-1" data-tooltip="YouTube" href="https://instagram.com">
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  
    <a class="social-icon mr-1" data-tooltip="YouTube" href="https://telegram.com">
      <i class="fa fa-telegram" aria-hidden="true"></i>
    </a>
  
  </div>


  <div class = "copy">
      <h6>&copy; Copyright 2019|Kana s.p.a </h6>
 </div>

 

 +

 
  
