@import '../../../assets/mixin/mixin.scss';

.wrapper-slide{
    width: 85%;
    height: 65%;
    @include grid-column(3);
    @include grid-row(2);
    margin-top:200px;
    margin-right: 180px;
}

.wrapper-title{
   color: white;
   @include grid-column-span(1,3);
   @include grid-row(2);

}

.wrapper-master{
    @include display-grid((1fr 1fr), (100px 1fr));
   margin-left:50px;
}

h1{
    font-size: 120px;
    font-weight: bold;
}

p{
    font-size:28px;
    font-weight: bold;
    color:white;
    margin-top:100px;
    text-align: center;
    margin-right:100px;
}


img{
    width: 900px;
    height: 500px;
}

