
h1{
   font-weight: bold  ;
   color : white;
   font-size: 400%;
}

p{
    font-weight: bold ;
     color: white;
    text-align: left;
    font-size: 100%;
}

img {
    width: 25%;
    height: 30%;
   
  
  
}






