<div class = "wrapper-master">  
  <div class = "wrapper-title">
   <h1>ShoesSelling</h1>
 
    <p>
   "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
   ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis 
   nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>
  </div>

 <div class = "wrapper-slide">
<ngb-carousel >
  <ng-template ngbSlide>
    <img src = "assets/image/converse0.jpg"  id = "image3" alt="Random first slide">
  </ng-template>
  <ng-template ngbSlide>
    <div class = "image1">
     <img src = "assets/image/nike1.jpg" id ="image1" alt="Random first slide">
  </div>
    
  </ng-template>
  <ng-template ngbSlide>
    <img src = "assets/image/adidas.jpg" id = "image2" alt="Random first slide">
  </ng-template>
</ngb-carousel>
 </div>
 
</div>
<app-footer></app-footer>