<form>
    <div class="feedback">
        <div class="title">
            <div class="">
                <h3><i class=" "></i> Contattaci</h3>
                <p class=" ">le vostre segnalazioni ci aiuteranno a migliorare</p>
            </div>
        </div>

        <div class="">

            <div class="input-container">
                <i class="fa fa-user item1"></i>
                <input type="text " class="item2" name="nome" placeholder="Nome" required>
            </div>

            <div class="input-container">
                <i class="fa fa-user item1"></i>
                <input type="text" class="item2" name="Cognome" placeholder="Cognome " required>
            </div>

            <div class="input-container">
                <i class="fa fa-user item1"></i>
                <select name="Genere" class="item2">
                    <option value="" disabled selected>Sesso</option>
                    <option value="Uomo">Uomo</option>
                    <option value="Donna">Donna</option>
            </select>
            </div>

            <div class="input-container">
                <i class="fa fa-user item1"></i>
                <input type="text" class="item2" name="telefono" placeholder="Telefono" required>
            </div>
        </div>

        <div class="">
            <textarea class="input" placeholder="Inviaci la tua segnalazione " required></textarea>
        </div>

        <div class="">
            <a href="mailto:renatodipi@gmail.com" target="_top"><input type="submit" value="Invia " class="invia"></a>
        </div>



    </div>

</form>