.form {}

.feedback {
    color: white;
    background: transparent;
    text-align: center;
}


/*
.input {
    grid-column: 1;
    grid-row: 1;
    width: 250px;
    height: 50px;
    background-color: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    color: white;
}

.input-container {
    display: grid;
    grid-template-columns: 50px 250px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    height: 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

.icon {
    grid-column: 2;
    grid-row: 1;
    align-content: center;
    color: white;
    min-width: 100px;
    text-align: center;
} 
*/

.item1 {
    grid-area: image;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 17px;
    min-width: 50px;
    text-align: center;
    border: none;
}

.item2 {
    grid-area: input;
    width: 250px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
}

.input-container {
    display: grid;
    grid-template-areas: 'image input input input input input';
    //grid-gap: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

.invia {
    width: 300px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
}

select option {
    color: black;
}

::-webkit-input-placeholder {
    color: white
}

.textarea {
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    width: 300px;
    height: 80px;
}