@import '../../../assets/mixin/mixin.scss';
.box {
    @include display-grid((auto auto auto));
}

.text {
    @include grid-column(2);
    display: flex;
    align-items: center;
    justify-content: center;
}


.form {
    @include grid-column(2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback {
    color: white;
    background: transparent;
    text-align: center;
}

.input {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

.invia {
    width: 300px;
    border-radius: 10px;
    background-color: white;
}

::-webkit-input-placeholder {
    color: white
}

select option {
    color: black;
}