@import '../../../assets/mixin/mixin.scss';
.box {
    @include display-grid((auto auto auto));
}

.form {
    @include grid-column(2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.feedback {
    color: white;
    background: transparent;
    text-align: center;
}

.input-container {
    @include display-grid(50px 250px);
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: white;
}

.item1 {
    @include grid-column(1);
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    padding: 17px;
    min-width: 50px;
    text-align: center;
    border: none;
}

.item2 {
    @include grid-column(2);
    width: 250px;
    height: 50px;
    background-color: transparent;
    border: none;
    color: white;
}

.textarea {
    @include grid-column(1);
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    width: 300px;
    height: 80px;
}

.invia {
    @include grid-column(1);
    width: 300px;
    height: 40px;
    border-radius: 30px;
    background-color: white;
}

select option {
    color: black;
}

::-webkit-input-placeholder {
    color: white;
}