<br>
<br>
<br>
<br>
<br>



<div class="profile">
    <table class="container">
        <tr>
            <td>
                <p class="lbl1">Nome: </p>
            </td>
            <td>
                <p class="txt1">{{name}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="lbl2">Cognome: </p>
            </td>
            <td>
                <p class="txt2">{{surname}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="lbl3">Sesso: </p>
            </td>
            <td>
                <p class="txt3">{{sex}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="lbl4">Email: </p>
            </td>
            <td>
                <p class="txt4">{{email}}</p>
            </td>
        </tr>
        <tr>
            <td>
                <p class="lbl5">Numero: </p>
            </td>
            <td>
                <p class="txt5">{{phone}}</p>
            </td>
        </tr>

    </table>

</div>